
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    background-color: #b3dbff;
    font-family: monospace;
    font-size: 20px;
}

/* HEADER */

header {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #252728;
}

header > img {
    height: 100px;
}

h1 {
    color: #fff;
    font-family: "Permanent marker", serif;
}

h1::first-letter{
    color: #d84141
}

/* NAV */
nav {
    margin: 1rem 2rem;
    display: flex;
    justify-content:  space-around;
}

nav > ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;
}

li > a {
    color: #000000;
    text-decoration: none;
    transition: 0.6s;
}

li > a:hover {
    color: #fff;
}

li > a:hover::first-letter{
    color:#d84141;
}

/* ASIDE */

aside {
    float: right;
    width: 35%;
    height: 32rem;
    padding: 2rem;
    font-family: "Permanent marker", serif;
    background-color: #f6fdec;
    border-radius: 1rem 0 0 1rem;
    border: 2px solid #252728;
    box-shadow: 2px 2px 4px #000;
    overflow: auto;
    transition-duration: 0.6s;
}
aside article{
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.6s;
}
aside article:hover>h3::first-letter{
    color: #000;
}
aside article:hover{
    color: #d84141;
}
aside article:hover>img{
    scale: 1.1;
}

aside:hover {
    scale: 1.05;
} 
article > img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: top;
    background-color: #000;
    box-shadow: 2px 2px 4px #000;
    transition-duration: 0.6s;
}

/* MAIN */

main {
    width: 60%;
    height: 32rem;
    margin: 0 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('../images/2.jpg') no-repeat;
    background-position: 40% 30%;
    background-size: 100%;
    border: 2px solid #252728;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px #000;
    transition-duration: 1s;

}

main:hover {
    box-shadow: 2px 2px 4px #d84141;
}

main > h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

article > p {
    color: #fff;
    text-align: justify;
    text-indent: 3rem;
    text-shadow: 1px 2px 2px #a6faa1;
    line-height: 2;
}

p > span {
    color: #d84141;
    font-weight: 700;
    text-shadow: 1px 2px 2px #b3dbff;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #252728;
    font-size: 15px;
    text-transform: uppercase;
}


